
.container {
    background-color: white;
    justify-content: center;
    /*width: 70%;
    height: 100%;*/
    display: grid;
    grid-template-columns: 12fr 12fr 12fr 1fr 1fr;
    grid-template-rows: 300px 600px 65px;
    grid-template-areas:
        "box1 box2 box3"
        "box4 box4 box4"
        "box5 box5 box5";
}

.box {
    border: solid 1px black;
    background-color: rgb(6, 160, 160);
    margin: 10px;
}

#box-1 {
    grid-area: box1;
}

#box-2 {
    grid-area: box2;
}

#box-3 {
    grid-area: box3;
}

#box-4 {
    grid-area: box4;
}

#box-5 {
    grid-area: box5;
    background-color: rgb(180, 228, 107);
}

/* Z-index */
#z1 {
    z-index: 3;
    position:relative;
    bottom: 42%; left: 10px;
    border-radius: 30%;
}

#z2 {
    z-index: 1;
    position:relative;
    bottom: 27%; right: 50px;
}

#z3 {
    z-index: 5;
    position:relative;
    bottom:89%; left: 820px;
}